html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: 0;
  overflow: hidden; /*  Disable scrollbars */
  display: block; /* No floating content on sides */
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
}
canvas {
  position: relative; /*absolute*/
  /*left: 1%;
      top: 1%;*/
  padding: 0;
  margin: auto;
  display: block;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 4px 6px rgba(0, 0, 0, 0.45);
  border-radius: 10px;
  background-color: ghostwhite;
}
.caja {
  padding: 1em;
  text-align: center;
}
a.button {
  text-decoration: none;
}
